<%= form_for(@comment, :html => { :multipart => true, :id => "comment-form" }, :remote => true) do |f| %>
    
    <div class="row" style="color: #666666 !important;">
        <div class="col-md-1">
            <span style="font-size: 35px;">
                <i class="far fa-user-circle"></i>
            </span>
        </div>
        <div class="col-md-11" style="padding-left: 0;">
            <div class="card"
                onclick="this.style.display='none'; $('#comment-input').show();
                    document.querySelector('#comment-input-textarea').focus();">
                <div class="card-body" style="padding: 1rem 1.25rem; text-align: left;">
                    <p style="color: #e7e7e9; margin: 0;">Add a comment</p>
                </div>
            </div>
            
            <div style="display: none;" id="comment-input">
                <div class="field" style="margin-bottom: 0;">
                    <%= f.text_area :content, class:"form-control", id:"comment-input-textarea",
                        style: "outline: none !important; border-bottom-left-radius: 0 !important;
                            border-bottom-right-radius: 0 !important; border: none !important;
                            height: 100px; box-shadow: none !important; padding-top: 15px;",
                        placeholder:"Add a comment..." %>
                    <%= f.hidden_field :username, value:"#{params[:username]}" %>
                </div>
                
                <div class="actions" align="right"
                    style="border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;
                            background-color: #cfcfd1; padding: 10px;">
                    <%= f.submit "Post", class:"btn btn-primary",
                        style:"height: 35px; padding-left: 30px; padding-right: 30px;",
                        data: { :disable_with => "Posting..." } %>
                </div>
            </div>
        </div>
    </div>
    
<% end %>