<div class="col-md-12" align="center" style="padding-top: 80px;">
    <i class="fas fa-frown" style="font-size: 145px; color: #fff;"></i>
    
    <div style="margin-top: 20px;">
        <h1 style="font-size: 50px; color: #fff;">Oh no</h1>
    </div>
    
    <div style="margin-top: 90px;">
        <h4 style="color: #fff;">This user doesn't exist</h4>
        
        <a href="/register?username=<%= params[:username] %>"
            style="color: #afc3fd; font-size: 18px !important;">
            Claim this username
        </a>
    </div>
</div>