<section class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/account/settings">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account/email">Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account/payouts">Payouts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/password/settings">Password</a>
            </li>
        </ul>
    </div>
    
    <div class="col-md-6 offset-md-3" align="center">
        <div class="card" style="height: calc(100% - 15px);">
            <div class="card-body" align="center"
                style="border-bottom: none; padding: 20px; font-size: 15px !important;">
                <form action="/account/set_email_preferences" method="post">
                    <div class="field">
                        <label>Promotional emails</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-block promo-email-dropdown" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"
                                style="border-color: #e7e7e9 !important; background-color: transparent;
                                    color: #a1a1a3; box-shadow: none !important;">
                                <% if @promoter.unsubscribed_from_promotional_emails %>
                                    Unsubscribed <i class="fas fa-angle-down"></i>
                                <% else %>
                                    Subscribed <i class="fas fa-angle-down"></i>
                                <% end %>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                style="border: 1px solid #e7e7e9; width: 100%;">
                                <% ["Subscribe", "Unsubscribe"].each do |t| %>
                                    <a class="dropdown-item cursor-pointer"
                                        onclick="$('.promo-email-dropdown').html(this.innerHTML + `<i class='fas fa-angle-down'></i>`);
                                            document.querySelector('#promo-email').value = this.text;">
                                        <%= t %>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                        <input type="hidden" name="promo_email" id="promo-email">
                    </div>
                    
                    <div class="field">
                        <label>All other emails</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-block unsubscribe-dropdown" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"
                                style="border-color: #e7e7e9 !important; background-color: transparent;
                                    color: #a1a1a3; box-shadow: none !important;">
                                <% if @promoter.unsubscribed_from_email %>
                                    Unsubscribed <i class="fas fa-angle-down"></i>
                                <% else %>
                                    Subscribed <i class="fas fa-angle-down"></i>
                                <% end %>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                style="border: 1px solid #e7e7e9; width: 100%;">
                                <% ["Subscribe", "Unsubscribe"].each do |t| %>
                                    <a class="dropdown-item cursor-pointer"
                                        onclick="$('.unsubscribe-dropdown').html(this.innerHTML + `<i class='fas fa-angle-down'></i>`);
                                            document.querySelector('#unsubscribe').value = this.text;">
                                        <%= t %>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                        <input type="hidden" name="unsubscribe" id="unsubscribe">
                    </div>
                    
                    <div class="action">
                        <input type="submit" class="btn btn-primary btn-block box-shadow"
                            value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>