<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header text-center"
                style="background-color: #00adf2; color: #fff; border-bottom: none;">
                <h5 style="margin-bottom: 0;">All Requests</h5>
            </div>
            <div class="card-body" style="padding-top: 30px; padding-bottom: 30px;">
                <% @requests.each do |req| %>
                    <div class="row">
                        <div class="col-md-3">
                            <%= req.client_email %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>