<%= render 'shared/client_facing_css' %>

<section class="container">
    <div class="row">
        <%= render "users/promoter" %>
        <div class="col-md-8 offset-md-2" align="center">
            <%= render "promos/client_facing_promos" %>
            <%= render "shared/footer" %>
        </div>
    </div>
</section>
