<% unless current_user %>
    <section id="platform-logo" align="center" style="margin-top: 15px;">
        <p>
            <a href="/">
                buypromo
            </a>
        </p>
        <a href="/signup" style="font-size: 13px; text-decoration: none; border-radius: 0;"
            class="btn btn-secondary btn-sm">
            Get Your Own Promo Page
        </a>
    </section>
<% end %>