<% unless current_user %>
    <section id="platform-logo" align="center" style="margin-top: 15px;">
        <p>
            <a href="/">
                <img src="/images/logo_blue.png" height="80">
            </a>
        </p>
        
        <div class="row">
            <div class="col-md-12">
                <a href="/login" style="font-size: 13px; text-decoration: none;">
                    Login
                </a>
                <a href="/signup"
                    style="font-size: 13px; text-decoration: none; margin-left: 10px;">
                    Get your own promo page
                </a>
            </div>
            
            <div class="col-md-12">
                &copy;
                <a href="https://bloomdigital.co" style="font-size: 13px; text-decoration: none;">
                    Bloom Digital
                </a>
            </div>
        </div>
    </section>
<% end %>