<section id="platform-logo" align="center" style="margin-bottom: 15px;">
    <a href="/" class="navbar-brand">
        <!--<img src="/images/logo_blue.png" height="80">-->
        myrates
    </a>
</section>