<style type="text/css">
    body {
        padding-top: 0 !important;
    }
    
    .navbar {
        border-bottom: 0.5px solid #c8c8d7 !important;
    }
    
    #contact-form {
      min-height: calc(100vh - 155px);
    }
    
    #banner-alert {
        display: none !important;
    }
</style>

<section id="contact-form" style="padding: 50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card box-shadow no-border">
                    <div class="card-body">
                        <h5>What Can We Help You With?</h5>
                        <hr>
                        
                        <% if params[:submitted] %>
                            <p align="center">
                                Your request has been submitted!
                            </p>
                            
                            <p align="center">
                                <a href="/pages/help" class="btn btn-link">
                                    Return to form
                                </a>
                            </p>
                        <% else %>
                            <%= render 'help_ticket_form' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    document.querySelector('#help-ticket-form')
    .addEventListener('submit', e => {
        let btn = document.querySelector('#help-form-btn');
        
        btn.setAttribute('disabled', '');
        btn.innerHTML = 'Submitting...';
    });
</script>