<style type="text/css">
    body {
        padding-top: 0 !important;
        background: #396afc;
        background: -webkit-linear-gradient(to right, #2948ff, #396afc);
        background: linear-gradient(to right, #2948ff, #396afc);
    }
    
    #contact-form {
      min-height: calc(100vh - 155px);
    }
    
    #banner-alert {
        display: none !important;
    }
</style>

<section id="contact-form" style="padding: 30px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card box-shadow">
                    <div class="card-header"
                        style="background-color: #00adf2; color: #fff; border-bottom: none;">
                        What Can We Help You With?
                    </div>
                    
                    <div class="card-body">
                        <% if params[:submitted] %>
                            <p align="center">
                                Your request has been submitted!
                            </p>
                            
                            <p align="center">
                                <a href="/pages/help" class="btn btn-link">
                                    Return to form
                                </a>
                            </p>
                        <% else %>
                            <%= render 'help_ticket_form' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    document.querySelector('#help-ticket-form')
    .addEventListener('submit', e => {
        let btn = document.querySelector('#help-form-btn');
        
        btn.setAttribute('disabled', '');
        btn.innerHTML = 'Submitting...';
    });
</script>