<style type="text/css">
    body {
        padding-top: 0 !important;
        background-color: #fff;
    }
    
    .modal-backdrop.show {
        opacity: 0.8;
    }
    
    #banner-alert {
        display: none !important;
    }
</style>

<section id="home-banner">
    <div class="container">
        <%= render 'shared/spam_alert' %>
        <div class="row">
            <div class="col-md-6" style="color: #77779d; padding-top: 90px;">
                <h1 style="font-size: 3rem; line-height: 135%;">
                    <strong>
                        A Simple Way For Users To View Your Promo Rates And Pay You
                    </strong>
                </h1>
                <h4 style="margin-top: 15px;">Convenient, hassle-free, cost-free</h4>
                
                <a href="/register" class="btn btn-primary box-shadow btn-block"
                    style="padding-top: 20px; padding-bottom: 20px; margin-top: 60px;
                        text-transform: uppercase; font-size: 20px;">
                    Register for your free account <i class="fas fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-4 offset-md-2" style="padding-top: 40px;" align="center">
                <img src="/images/mockups/phone_mockup.png" height="500">
            </div>
            <div class="col-md-12" align="center" style="bottom: 0;" id="scroll-icon">
                <i class="fas fa-angle-down cursor-pointer" style="font-size: 25px; color: #77779d;"
                    onclick="window.scrollBy(0, 500);"></i>
            </div>
        </div>
    </div>
</section>

<section id="howto-banner">
    <div class="jumbotron" style="background-color: #e3e3eb; border-radius: 0; padding: 2rem 0 3rem;
        margin-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center" style="margin-bottom: 15px;">
                    <h3>How It Works</h3>
                </div>
                <div class="col-md-4" align="center">
                    <span class="badge badge-primary"
                        style="height: 30px; width: 30px; border-radius: 15px; font-size: 20px;">
                        1
                    </span>
                    
                    <p style="margin-top: 30px;">
                        <i class="fas fa-link" style="font-size: 40px;"></i>
                    </p>
                    
                    <p style="margin-top: 15px;">
                        After setting up your account,
                        put your custom <b>myrates.co</b> URL in any bio,
                        including Instagram, Twitter, Soundcloud and Facebook
                        (ex: myrates.co/brand)
                    </p>
                </div>
                
                <div class="col-md-4" align="center">
                    <span class="badge badge-primary"
                        style="height: 30px; width: 30px; border-radius: 15px; font-size: 20px;">
                        2
                    </span>
                    
                    <p style="margin-top: 30px;">
                        <i class="far fa-edit" style="font-size: 40px;"></i>
                    </p>
                    
                    <p style="margin-top: 15px;">
                        Users can click the link to view your rates
                        and send promo requests with all relevant info including
                        social media platform, photo, caption, video URL, audio URL
                        or website.
                    </p>
                </div>
                
                <div class="col-md-4" align="center">
                    <span class="badge badge-primary"
                        style="height: 30px; width: 30px; border-radius: 15px; font-size: 20px;">
                        3
                    </span>
                    
                    <p style="margin-top: 30px;">
                        <i class="fab fa-cc-paypal" style="font-size: 40px;"></i>
                    </p>
                    
                    <p style="margin-top: 15px;">
                        Requests get sent directly to your email with all
                        the details. If you added your Cashapp or PayPal
                        username, users will be able to pay you directly at
                        the time of their request.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features-banner">
    <div class="row" style="margin: 0;">
        <div class="half-display"
            style="display: inline-block; width: 50%; min-height: 300px;
                background-color: #7bfc39; padding: 30px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" align="center" style="margin-bottom: 20px;">
                        <h3 style="color: #fff;">Easy Payouts</h3>
                        
                        <div style="margin: 20px 0;" align="center">
                            <i class="fab fa-paypal" style="font-size: 130px; color: #56b027;"></i>
                        </div>
                        
                        <div style="margin: 20px 0;" align="center">
                            <p style="color: #fff;">
                                Just add your Paypal or Cashapp link. Or for no fee
                                payouts, add your debit card info.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="half-display"
            style="display: inline-block; width: 50%; min-height: 300px;
                background-color: rgb(130, 94, 235); padding: 30px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" align="center" style="margin-bottom: 20px;">
                        <h3 style="color: #fff;">Automatic Post Scheduling</h3>
                        
                        <div style="margin: 20px 0;" align="center">
                            <i class="fab fa-buffer" style="font-size: 130px; color: #5b41a4;"></i>
                        </div>
                        
                        <div style="margin: 20px 0;" align="center">
                            <p style="color: #fff;">
                                Schedule your promos ahead of time (coming soon via
                                <a href="https://buffer.com" style="color: #c4c7c9; font-weight: bold;"
                                    target="_blank">
                                    Buffer</a>)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    // document.querySelector('#spamNoticeModalBtn').click();
</script>

<script>
    (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.termly.io/embed.min.js';
        s.id = '485bd912-9b6a-4f8e-9f76-05e4c9fa4e7e';
        s.setAttribute("data-name", "termly-embed-banner");
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    })();
</script>