<style type="text/css">
    body {
        padding-top: 0 !important;
        background: #396afc;
        background: -webkit-linear-gradient(to right, #2948ff, #396afc);
        background: linear-gradient(to right, #2948ff, #396afc);
    }
    
    .modal-backdrop.show {
        opacity: 0.8;
    }
</style>

<section id="home-banner">
    <div class="container">
        <div class="modal fade" id="spamNoticeModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content box-shadow"
                style="margin-top: 45px; background-size: cover; background-repeat: no-repeat;
                    background-image: url('https://s3.us-east-2.amazonaws.com/myrates/spam_notice.png');
                    height: 425px;">
              <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close" style="color: #fff;">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
            </div>
          </div>
        </div>
        <button style="display: none;" data-toggle="modal" id="spamNoticeModalBtn"
            data-target="#spamNoticeModal">
            Add new rate
        </button>
        <div class="row">
            <div class="col-md-6" style="color: #fff; padding-top: 90px;">
                <h1 style="font-size: 3rem; line-height: 135%;">
                    <strong>
                        A Simpler Way For Users To View Your Promo Rates
                    </strong>
                </h1>
                <h4 style="margin-top: 15px;">Convenient, hassle-free, cost-free</h4>
                
                <a href="/register" class="btn btn-light box-shadow btn-block"
                    style="padding-top: 20px; padding-bottom: 20px; margin-top: 60px;
                        text-transform: uppercase; font-size: 20px; color: #007bff;">
                    Register for your free account <i class="fas fa-angle-right"></i>
                </a>
            </div>
            <div class="col-md-4 offset-md-2" style="padding-top: 40px;" align="center">
                <img src="/images/mockup.png" height="500">
            </div>
            <div class="col-md-12" align="center" style="bottom: 0;" id="scroll-icon">
                <i class="fas fa-angle-down cursor-pointer" style="font-size: 25px; color: #fff;"
                    onclick="window.scrollBy(0, 500);"></i>
            </div>
        </div>
    </div>
</section>

<section id="howto-banner">
    <div class="jumbotron" style="background-color: #f6f9fc; border-radius: 0; padding: 2rem 0 3rem;
        margin-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center" style="margin-bottom: 15px;">
                    <h3>How It Works</h3>
                </div>
                <div class="col-md-4" align="center">
                    <span class="badge badge-primary"
                        style="height: 30px; width: 30px; border-radius: 15px; font-size: 20px;">
                        1
                    </span>
                    
                    <p style="margin-top: 30px;">
                        <i class="fas fa-link" style="font-size: 40px;"></i>
                    </p>
                    
                    <p style="margin-top: 15px;">
                        After setting up your account,
                        put your custom <b>myrates.com</b> URL in any bio,
                        including Instagram, Twitter, Soundcloud and Facebook
                        (ex: myrates.com/brand)
                    </p>
                </div>
                
                <div class="col-md-4" align="center">
                    <span class="badge badge-primary"
                        style="height: 30px; width: 30px; border-radius: 15px; font-size: 20px;">
                        2
                    </span>
                    
                    <p style="margin-top: 30px;">
                        <i class="far fa-edit" style="font-size: 40px;"></i>
                    </p>
                    
                    <p style="margin-top: 15px;">
                        Users can click the link to view your rates
                        and send promo requests with all relevant info including
                        social media platform, photo, caption, video URL, audio URL
                        or website.
                    </p>
                </div>
                
                <div class="col-md-4" align="center">
                    <span class="badge badge-primary"
                        style="height: 30px; width: 30px; border-radius: 15px; font-size: 20px;">
                        3
                    </span>
                    
                    <p style="margin-top: 30px;">
                        <i class="fas fa-tv" style="font-size: 40px;"></i>
                    </p>
                    
                    <p style="margin-top: 15px;">
                        Each request gets sent directly to your email with all
                        the details. Then you just need to request payment
                        from the user and that's it. Quick and simple!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features-banner">
    <div class="row" style="margin: 0;">
        <div class="half-display"
            style="display: inline-block; width: 50%; min-height: 300px;
                background-color: #fff; padding: 30px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" align="center" style="margin-bottom: 20px;">
                        <h3 style="color: #7b7c7e;">Automatic Payouts</h3>
                        
                        <div style="margin: 20px 0;" align="center">
                            <i class="fab fa-cc-stripe" style="font-size: 130px; color: #c4c7c9;"></i>
                        </div>
                        
                        <div style="margin: 20px 0;" align="center">
                            <p style="color: #7b7c7e;">
                                (Coming soon via
                                <a href="https://stripe.com" style="font-weight: bold;"
                                    target="_blank">
                                    Stripe
                                </a>)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="half-display"
            style="display: inline-block; width: 50%; min-height: 300px;
                background-color: rgb(130, 94, 235); padding: 30px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" align="center" style="margin-bottom: 20px;">
                        <h3 style="color: #fff;">Automatic Post Scheduling</h3>
                        
                        <div style="margin: 20px 0;" align="center">
                            <i class="fab fa-buffer" style="font-size: 130px; color: #5b41a4;"></i>
                        </div>
                        
                        <div style="margin: 20px 0;" align="center">
                            <p style="color: #fff;">
                                (Coming soon via
                                <a href="https://buffer.com" style="color: #c4c7c9; font-weight: bold;"
                                    target="_blank">
                                    Buffer
                                </a>)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features-banner">
    <div class="jumbotron" style="background-color: transparent; border-radius: 0; padding: 2rem 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center" style="margin-bottom: 20px;">
                    <h3 style="color: #fff;">Simple Dashboard</h3>
                </div>
                <div class="col-md-5">
                    <div class="card box-shadow" align="center">
                        <div class="card-header">
                            Features
                        </div>
                        <div class="card-body" align="center">
                            <div id="features" style="margin-top: 15px;">
                                <p>
                                    <i class="fas fa-check" style="color: #007bff;"></i> Get requests sent directly to your email
                                </p>
                                
                                <p>
                                    <i class="fas fa-check" style="color: #007bff;"></i> Manage requests in your dashboard
                                </p>
                                
                                <p>
                                    <i class="fas fa-check" style="color: #007bff;"></i> Customize your profile look
                                </p>
                                
                                <p>
                                    <i class="fas fa-check" style="color: #007bff;"></i> Get your personal <strong>myrates.co</strong> url for your bio
                                </p>
                                
                                <p>
                                    <i class="fas fa-check" style="color: #007bff;"></i> Track stats like visits and clicks (coming soon)
                                </p>
                            </div>
                        </div>
                        <div class="card-footer" style="padding: 0;">
                            <a href="/register" class="btn btn-primary btn-block"
                                style="padding-top: 15px; padding-bottom: 15px;
                                    border-radius: inherit; border-top-left-radius: 0;
                                    border-top-right-radius: 0;">
                                Get Started In Less Than Five Minutes
                                <i class="fas fa-angle-right" style="margin-left: 10px;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-7" align="center" id="comp-mockup">
                    <img src="/images/comp_mockup.png" height="400">
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    document.querySelector('#spamNoticeModalBtn').click();
</script>

<script>
    (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.termly.io/embed.min.js';
        s.id = '485bd912-9b6a-4f8e-9f76-05e4c9fa4e7e';
        s.setAttribute("data-name", "termly-embed-banner");
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    })();
</script>