<section id="optional-payout" align="center" class="row" style="margin-top: 15px;">
    <div class="col-md-4 offset-md-4">
        <h6>
            <b>
                OPTIONAL: Pay through us
                (<a data-toggle="modal" data-target="#whyPayThroughUs" href="#"
                    style="font-size: 15px; text-decoration: none;">
                    why
                </a>)
            </b>
        </h6>
        
        <div class="card">
            <div class="card-header"
                style="background-color: #00adf2; color: #fff; border-bottom: none;">
                Card Info
            </div>
            
            <div class="card-body">
                <h5>Order Total: <%= "$" + @request.promo.package_price %></h5>
                
                <form action="/charge" method="post" id="payment-form"
                    style="margin-top: 15px;">
                    <div id="card-element"></div>
                    <div id="card-errors" role="alert"></div>
                  
                    <button class="btn btn-success btn-block" style="margin-top: 10px;">
                        Submit Payment
                    </button>
                </form>
                
                <p style="margin-top: 15px; font-size: 15px;">
                    Payment info securely processed by
                    <a href="https://stripe.com">Stripe</a>. Visit
                    <a href="https://stripe.com/privacy">stripe.com/privacy</a>
                    for more details.
                </p>
            </div>
        </div>
        
        <%= link_to request_ship_path(:request_id => @request.token), class:"btn btn-primary btn-block",
            style:"padding-top: 15px; padding-bottom: 15px;" do %>
            <i class=""></i> Skip and pay off-platform
        <% end %>
    </div>
</section>

<script type="text/javascript">
    var stripe = Stripe('pk_test_qLHYek2ZzEiXo8XEKJpApGoF00PfhLvqts');
    var elements = stripe.elements();
    
    var style = {
      base: {
        fontSize: '16px',
        color: "#32325d",
      }
    };
    
    var card = elements.create('card', {style: style});
    card.mount('#card-element');
    
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });
    
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault();
    
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          stripeTokenHandler(result.token);
        }
      });
    });
    
    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        
        form.appendChild(hiddenInput);
        form.submit();
    }
</script>