<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <div style="background: linear-gradient(to right, #2948ff, #396afc);
                    border-radius: 2px; padding: 0; border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;">
            <img src="myrates.herokuapp.com/images/myratesemaillogo.png" height="80">
        </div>
        <div style="border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;
            border: 0.5px solid #e7e7e9; border-top: none; padding: 15px">
            <div>
                <p>
                    Hi <%= @promoter.username %>,
                    <br /><br />
                    Thanks for joining MyRates!
                    We are a super simple site that allows social media users to
                    view your promo rates and submit promo requests directly to
                    your inbox so that you can avoid unnecessary rounds of email
                    exchanges. In the coming weeks, we'll be introducing a secure
                    payment system to allow your clients to pay for their requests
                    directly on the platform so that you don't have to keep
                    requesting payments through CashApp or PayPal. So keep an eye
                    out!
                </p>
                
                <p>
                    Feel free to <a href="mailto:teammyrates@gmail.com">reach out</a>
                    to us with any question, concern, or suggestion!
                </p>
                
                <p>
                    Best,<br />
                    The MyRates Team
                </p>
            </div>
        </div>
    </body>
</html>