<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <h6>Message From <%= @promoter.username %>:</h6>
        <hr>
        
        <span><%= sanitize(@content) %></span>
    </body>
</html>