<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <div>
            <p>
                Hi <%= @promoter.username %>,
                <br /><br />
                Thanks for joining MyRates!
                We are a super simple site that allows social media users to
                view your promo rates and submit promo requests directly to
                your inbox so that you can avoid unnecessary rounds of email
                exchanges. In the coming weeks, we'll be introducing a secure
                payment system to allow your clients to pay for their requests
                directly on the platform so that you don't have to keep
                requesting payments through CashApp or PayPal. So keep an eye
                out!
            </p>
            
            <p>
                Feel free to <a href="mailto:teammyrates@gmail.com">reach out</a>
                to us with any question, concern, or suggestion!
            </p>
            
            <p>
                Best,<br />
                The MyRates Team
            </p>
            
            <hr>
            
            <p style="font-size: 13px;">
                Click <a href="https://myrates.herokuapp.com/pages/help">
                    here
                </a> if you did not create this account.<br />
                Click <a href="https://myrates.herokuapp.com/help/unsubscribe_from_email">
                    here
                </a> to unsubscribe.
            </p>
        </div>
    </body>
</html>