<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <div style="background-color: #007bff; border-radius: 2px; padding: 10px 15px;
            border-bottom-left-radius: 0; border-bottom-right-radius: 0; color: #fff;">
            <h2>PromoinBio</h2>
        </div>
        <div style="border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;
            border: 0.5px solid #e7e7e9; border-top: none; padding: 15px">
            <div>
                <p>
                    Thanks for joining <%= @promoter.username %>!
                    <br /><br />
                    Promoinbio is a super simpel site that allows your clients to
                    view your promo rates and submit their promo requests
                    so that you can avoid unnecessary rounds of email exchanges.
                    In the coming weeks, we'll be
                    introducing a secure payment flow to allow your clients to
                    pay for their request directly on the platform
                    (no more cashapp requests or paypal invoices!), so keep an
                    eye out!
                </p>
                
                <p>
                    Feel free to reach out to us at <a href="mailto:contact@promoin.bio"> contact@promoin.bio</a>
                    for any question, concern, or suggestion!
                </p>
                
                <p>
                    Best,<br />
                    The PromoinBio Team
                </p>
            </div>
        </div>
    </body>
</html>