<style type="text/css">
    .navbar-toggler .fas:not(.active) {
        display: none;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light background-transparent"
    style="border-bottom: none; padding-top: 10px; padding-bottom: 10px;">
    <div class="container">
        <a class="navbar-brand color-blue" href="/">
            myrates
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#mobileNavbarCollapse" aria-controls="mobileNavbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation"
            style="padding: 0; border: 0; box-shadow: none; outline: none;"
            onclick="$('#mobileNavbarCollapse').toggleClass('mobile-hide');
                    $('.navbar').toggleClass('background-transparent');
                    $('.fa-bars').toggleClass('color-blue');
                    $('.navbar-toggler .fas').toggleClass('active');">
            <i class="fas fa-bars active" style="font-size: 26px; color: #77779d;"></i>
            <i class="fas fa-times" style="font-size: 26px;"></i>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end mobile-hide" id="mobileNavbarCollapse">
            <ul class="navbar-nav" style="border-top: 3px solid #e7e7e9;">
                <li class="nav-item" style="margin: 0;">
                    <a class="nav-link" href="/pages/help" style="padding: 15px 0;">
                        <i class="fas fa-angle-right"></i> Help
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item" style="margin: 0;">
                    <a class="nav-link" href="/login" style="padding: 15px 0;">
                        <i class="fas fa-angle-right"></i> Login
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item" style="margin: 0;">
                    <a class="nav-link" href="/register"
                        style="padding: 15px 0; color: #77779d !important; font-weight: bold;">
                        <i class="fas fa-angle-right"></i> Register
                    </a>
                </li>
            </ul>
        </div>
    
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-link" href="/pages/help"
                        style="color: #77779d;">
                        Help
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="/login"
                        style="color: #77779d;">
                        Login
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary box-shadow" href="/register"
                        style="!important; font-size: 15px;">
                        Register For Free
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>