<footer style="bottom: 0; text-align: center; padding-top: 15px; padding-bottom: 15px;
            background-color: #223f97;">
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="https://app.termly.io/document/privacy-policy/153161dd-1e3d-41b6-9c84-53b7d8977dc0"
                class="btn btn-link" target="_blank" style="color: #fff !important;">
                Privacy
            </a>
            <a href="/pages/terms" class="btn btn-link" style="color: #fff !important;">
                Terms
            </a>
            <a href="/pages/help" class="btn btn-link" style="color: #fff !important;">
                Help
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="https://instagram.com/myrates.co" class="btn btn-link" style="color: #fff !important;"
                target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/myrates_co" class="btn btn-link" style="color: #fff !important;"
                target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="mailto:teammyrates@gmail.com" class="btn btn-link" style="color: #fff !important;"
                target="_blank">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>
    
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12" align="center">
            <p style="margin: 0; color: #fff;">
                <a class="color-white" disabled style="color: #fff !important;">
                    &copy; 2019 MyRates
                </a> |
                Made with
                <span style="color: #fa3f4a;">&hearts;</span>
                in NYC
            </p>
        </div>
    </div>
</footer>