<footer style="bottom: 0; text-align: center; padding-top: 15px; padding-bottom: 15px; background-color: #e7e7e9;">
    <a href="/privacy" class="btn btn-link" style="">
        Privacy
    </a>
    <a href="/terms" class="btn btn-link" style="">
        Terms
    </a>
    <span style="padding: 0 15px; font-size: 14px;">&copy; 2019 Bloom Digital</span>
</footer>