<footer style="bottom: 0; text-align: center; padding-top: 15px; padding-bottom: 15px;
            background-color: #e7e7e9;">
    <div class="row">
        <div class="col-md-4">
            <a href="https://app.termly.io/document/privacy-policy/153161dd-1e3d-41b6-9c84-53b7d8977dc0"
                class="btn btn-link" target="_blank">
                Privacy
            </a>
            <a href="/pages/terms" class="btn btn-link" style="">
                Terms
            </a>
            <a href="/pages/help" class="btn btn-link" style="">
                Help
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://instagram.com/trymyrates" class="btn btn-link" style=""
                target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://instagram.com/trymyrates" class="btn btn-link" style=""
                target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="mailto:teammyrates@gmail.com" class="btn btn-link" style=""
                target="_blank">
                <i class="far fa-envelope"></i>
            </a>
        </div>
        <div class="col-md-4">
            <span style="padding: 0 15px; font-size: 14px;">
                <a class="btn btn-link" disabled>
                    &copy; 2019 MyRates
                </a>
            </span>
        </div>
    </div>
</footer>