<style type="text/css">
    .navbar-toggler .fas:not(.active) {
        display: none;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand color-blue" href="/">
            myrates
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#mobileNavbarCollapse" aria-controls="mobileNavbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation"
            style="padding: 0; border: 0; box-shadow: none; outline: none;"
            onclick="$('#mobileNavbarCollapse').toggleClass('mobile-hide');
                    $('.navbar-toggler .fas').toggleClass('active');">
            <i class="fas fa-bars active" style="font-size: 26px;"></i>
            <i class="fas fa-times" style="font-size: 26px;"></i>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end mobile-hide" id="mobileNavbarCollapse">
            <ul class="navbar-nav" style="border-top: 3px solid #e7e7e9;">
                
            </ul>
        </div>
    
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                
            </ul>
        </div>
    </div>
</nav>